
body{
	background-color: black;
	margin-top: 125px;
}

.grid {
	width: 300px;
	height: 300px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
	background-image: url(https://64.media.tumblr.com/9dd7532f7b624d74e1da821f3338ec69/66730ea42c74af79-95/s250x400/b851c9ed4ae5942d5647547898c67516c48b6191.pnj);
	background-repeat: repeat;
	margin: auto;
	
}

.grid div {
	width: 20px;
	height: 20px;
}

h1, h2, h3 {
	text-align: center;
	color: aliceblue;
	font-family: 'Monomaniac One', sans-serif;
}

.timerCont{
	display: flex;
	margin: auto;
	color: aliceblue;
	font-family: 'Monomaniac One', sans-serif;
}

ul{
	color: aliceblue;
	font-family: 'Monomaniac One', sans-serif;
}

button{
	display: flex;
	padding: 2px;
	margin: 20px;
	font-family: 'Monomaniac One', sans-serif;
}

.contBtn{
	display: flex;
	justify-content: center;
}

.listaScore{
	display: flex;
	justify-content: center;
	font-size: 20px;
}

ul{
	list-style: none;
}

.timerCont{
	display: flex;
	justify-content: center;
	border: 1px, white;
	font-size: 30px;
}

.invaders {
	background-image: url(https://64.media.tumblr.com/1f901931644d8e980b61a013e4b6c0d8/923fbc0e3f8079fb-dd/s250x400/0669cd33c2ee959d64edccc89a285ca661025f73.gifv);
	background-repeat: no-repeat;
	background-size: 20px, 20px;
}

.jugador {
	background-image: url(https://64.media.tumblr.com/ba047b40ec8fa2e666a5ab3aed449cb3/12590d169093ceb4-df/s75x75_c1/b803f0d437c4642ead22fe85341de3e1e2c1c173.pnj);
    background-repeat: no-repeat;
	background-size: 20px,20px;
}

.disparo {
	background-image: url(https://64.media.tumblr.com/2649bf1b55c2bdf9e3fbb1ad440e5f2c/d738e22290827b71-3a/s100x200/13d898b13c7c2ce6a978b6380b3d3b224c8b6590.gifv);
	background-repeat: no-repeat;
	background-size: 20px,20px;

}

.boom {
	background-image: url(https://64.media.tumblr.com/064fbcaf928a4f557f2358748442b123/d738e22290827b71-c0/s100x200/75999bd0659aecf50bea9228b64eea680c3605f9.gifv);
	background-repeat: no-repeat;
	background-size: 20px,20px;
}


