
body{
	margin-top: 125px;
	background-color: black;
}

.grid {
	width: 300px;
	height: 300px;
	border: solid white 1px;
	display: flex;
	flex-wrap: wrap;
	background-image: url(https://i.pinimg.com/originals/b4/71/d6/b471d641c2fb84308dfb016cbf4ac6bb.gif);
	background-repeat: repeat;
	margin: auto;
	
}

.grid div {
	width: 20px;
	height: 20px;
}

h1, h2, h3 {
	text-align: center;
	color: aliceblue;
	font-family: 'Monomaniac One', sans-serif;
}

.timerCont{
	display: flex;
	margin: auto;
	color: aliceblue;
	font-family: 'Monomaniac One', sans-serif;
}

ul{
	color: aliceblue;
	font-family: 'Monomaniac One', sans-serif;
}

button{
	display: flex;
	padding: 2px;
	margin: 20px;
	font-family: 'Monomaniac One', sans-serif;
}

.contBtn{
	display: flex;
	justify-content: center;
}

.listaScore{
	display: flex;
	justify-content: center;
	font-size: 20px;
}

ul{
	list-style: none;
}

.timerCont{
	display: flex;
	justify-content: center;
	border: 1px, white;
	font-size: 30px;
}
.scoresTabla{
	border: 1px solid white;
	width: 300px;
	height: 300px;
	margin: auto;

}
.invaders {
	background-image: url(https://64.media.tumblr.com/1f901931644d8e980b61a013e4b6c0d8/923fbc0e3f8079fb-dd/s250x400/0669cd33c2ee959d64edccc89a285ca661025f73.gifv);
	background-repeat: no-repeat;
	background-size: 20px, 20px;
}

.jugador {
	background-image: url(https://64.media.tumblr.com/f0f05efc7077d56d7f2b7cd08740fbf0/e2c00fe2299666b8-d6/s1280x1920/11cf7d2006086ece3a7e47b4fe4ac96710265eb8.gifv);
    background-repeat: no-repeat;
	background-size: 20px,20px;
}

.disparo {
	background-image: url(https://64.media.tumblr.com/3e656aeaf39d8e6a022bcd09721c674f/0d2d8b814f1f32c2-38/s400x600/2b66dfe9ab70603b631575c04e8efd8ea2853606.gifv);
	background-repeat: no-repeat;
	background-size: 20px,20px;

}

.boom {
	background-image: url(https://64.media.tumblr.com/ae2557fe49b3912d7f5e78667d332b00/0d2d8b814f1f32c2-20/s400x600/d1c0092371d7b61571c981f14d24e5168e502c85.gifv);
	background-repeat: no-repeat;
	background-size: 20px,20px;
}


